body {
    font-family: "Lato", sans-serif;
    background-color: #222; 
    color: #ddd;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #f6efd5;
    padding: 20px;

}

.h1-input {
    font-size: 1.5em;   
    color: #f6efd5;   
    margin-bottom: 20px;    
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-family: inherit;
    align-self: center;

}

.textarea {
    width: 50vw;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.2em;
    resize: auto;
    background-color: #222;
    color: #ffffff;

    transition: 0.2s ease;
}

.textarea:focus {
    outline: none;
}

button {
    background-color: #f2e5b8; 
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #121212;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e6b800;
    transform: translateX(-50%) scale(1.05);
}

button:active {
    transform:translateX(-50%) scale(0.95);
}

#pixelGrid {
    display: grid;
    margin: 0 auto;

}

.pixel {
    width: 15px;
    height: 15px;
    padding: none;
}



h2 {
    padding-bottom: 15px;
    padding-top: none;
    font-size: 1.5rem;
}

.parent-container-center {
    display: grid;
    place-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}